
/MngWrkStation/MngWrkStation/bin/Debug/MngWrkStation.exe
/MngWrkStation/MngWrkStation/bin/Debug/MngWrkStation.pdb
/MngWrkStation/MngWrkStation/bin/Debug/MngWrkStation.vshost.exe
/MngWrkStation/MngWrkStation/bin/Debug/MngWrkStation.vshost.exe.manifest
/MngWrkStation/MngWrkStation/bin/Debug/MngWrkStation.xml